.nav-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  height: 100px;
  align-items: center;
  background-color: #3c5454;
  opacity: .80;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  color: white;
}

.logo {
  margin-left: 20px;
  font-size: 4em;
  font-family: 'Amatic SC', cursive;
  font-weight: 100;
  color: #d8d0ba;
  font-weight: 700;
}


@media only screen and (max-width: 799px) {
  .logo {
    justify-self: center;
    margin: 0px;
  }
  .nav-links-wrapper {
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  .nav-bar {
    height: 200px;
  }
}

@media only screen and (max-width: 499px) {
  .logo {
    margin: 0px;
  }
  .links-wrapper {
    margin: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  .nav-bar {
    height: 200px;
  }
}