body {
  margin: 0px;
  font-family: 'Amatic SC', cursive;
  background-image: url(./images/kid.jpg);
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
}

